:root {
  --main: #222222;
  --secondary: #504c4a;
  --orange: #ff7629;
  --orange-secondary: #ffad71;
  --pastel: #ffe9d4;
  --light: #fbf8f9;

}



body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Lato", sans-serif !important;
  color: var(--main);
}



thead {
  background-color: var(--orange);
  color: white;
}


.form-control:focus,
.form-control:active {
  border-color: #ff7629;
  box-shadow: 0 0 0 0.25rem rgba(255, 118, 41, 0.25);
}


.form-floating input:focus,
.form-floating input:active {
  border-color: #ff7629;
  box-shadow: 0 0 0 0.25rem rgba(255, 118, 41, 0.25);
}

.input-group input:focus,
.input-group input:active {
  border-color: #ff7629;
  box-shadow: 0 0 0 0.25rem rgba(255, 118, 41, 0.25);
}

.form-select:focus,
.form-select:active {
  border-color: #ff7629 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 118, 41, 0.25) !important;
}

.page-link {
  color:var(--orange) !important;
}

.page-link:hover,
.page-link:active{
  border-color: #ff7629 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 118, 41, 0.25) !important;
}
.form-check-input:checked {
  background-color: var(--orange);
  border: none;
}

.form-check-input:hover:not(:checked) {
  box-shadow: 0 0 0 0.25rem rgba(255, 118, 41, 0.25);
  border-color: #ff7629;
}

.form-check-input:active:not(:checked) {
  box-shadow: 0 0 0 0.25rem rgba(255, 118, 41, 0.25);
  border-color: #ff7629;
}

.mute-btn:hover,
.mute-btn:focus {
  color: var(--orange) !important;
}

.back-btn.btn {
  border: none;
  border-radius: 0px;
  background-color: white;
  color: var(--primary);
  /* Increase the padding to add spacing */
  transition: all 0.3s ease-in-out;
  /* add a transition effect for a smooth animation */
}


.back-btn:hover {
  transform: scale(1.05);
  /* scale the button up by 5% on hover */
}



.white-btn.btn {
  border: 1px solid var(--orange);
  background-color: white;
  color: var(--primary);
}


.white-btn:hover {
  background-color: var(--orange);
  color: white !important;
}

.white-btn:hover i {
  color: white;
}

.white-btn:hover svg {
  transition: filter 0.1s ease-in-out;
  filter: invert(1) brightness(100%) grayscale(100%);
  color: white;
}

.orange-btn.btn {
  border: 1px solid var(--orange);
  background-color: var(--orange);
  color: white;
}


.orange-btn:hover {
  background-color: var(--white);
  color: var(--main) !important;
}

.orange-btn:hover i {
  color: var(--main);
}

.orange-btn:hover svg {
  transition: filter 0.1s ease-in-out;
  filter: invert(1);
}


/* Header Navbar Start */

.navbar {
  background-color: transparent;
  box-shadow: 0px 16px 22px 0px rgba(0, 0, 0, 0.1);
}

#header .nav-link {
  border-bottom: 2px solid transparent;
  /* Add border instead of text-decoration */
  padding-bottom: 3px;
  /* Increase the padding to add spacing */
  transition: border-color 0.3s ease-in-out;
  /* Transition border-color instead of text-decoration-color */
}

#header .active {
  color: var(--main);
  font-weight: bolder;
  border-bottom: 2px solid var(--orange);
  /* Add border-bottom to active class */
}

#header .nav-link:hover,
.navbar-nav .show>.nav-link,
.navbar-nav .nav-link.active,
.nav-link:focus {
  color: var(--main);
  border-color: var(--orange);
  /* Change border-color on hover/focus */
}

#header .navbar-toggler {
  margin-top: 20px;
  border: 0px;
  width: 100%;
}

#header .navbar-toggler:focus {
  color: transparent
}

/* Header Navbar End */

/* Index section Start */
.restaurant-carousel {
  background-color: var(--light);
}

#restaurant-carousel h1 {
  font-weight: 500;
  color: var(--primary);
}



/* Index section End */


/* Contact-us Section Start */
.contactus {
  margin: 10px;
  max-width: 500px;
  margin-right: 80px;
}

.contactus b {
  padding-left: 3px
}

.inputcontainer {
  display: flex;
  margin-top: 15px;
  border: 2px solid #005fbb;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 100px;
  height: 220px;
}

.input {
  display: block;
  border: 2px solid #0584ff;
  border-radius: 5px;
  margin-top: 15px;
  align-items: center;
  width: 300px;
  height: 30px;
}

.input:focus {
  outline: none;
  transition: 0.5s
}

.input::placeholder {
  color: #0584ff;
}

.text {
  display: block;
  border: 2px solid #0584ff;
  border-radius: 5px;
  margin-top: 15px;
  align-items: center;
  width: 300px;
  height: 80px;
  resize: none;
}

.text:focus {
  outline: none;
  transition: 0.5s
}

.text::placeholder {
  color: #0584ff;
}

.submit {
  border: 2px solid #0584ff;
  border-radius: 15px;
  margin-top: 15px;
  width: 80px;
  height: 30px;
  background-color: #0584ff;
  color: white;
}

.submit:hover {
  transition: 0.5s;
  cursor: pointer;
  transform: scale(1.1);
}

i {
  color: #0584ff;
}

/* Contact-Us Section End */

/* Carousel Section Start */


#myCarousel .cards-wrapper {
  display: flex;
  justify-content: center;
}

#myCarousel .card img {
  max-width: 100%;
  max-height: 100%;
}

#myCarousel .card-title h5 {
  font-weight: 500;
  color: var(--primary);
}



#myCarousel .card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}


#myCarousel .card-body {
  background-color: var(--white);
  color: var(--primary);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  height: 100px;
  font-weight: 600;
  transform: translateY(-50%);
  width: auto;
  margin-top: -22px;
  background-color: transparent;
  opacity: 100%;
  border-radius: 25px;
}


.carousel-control-prev {
  left: -100px;
}

.carousel-control-next {
  right: -100px;
}

/* Carousel Section End */

/* Restaurant options Section Start */

/* Center the form */
#names-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#names-form .deleteCol {
  padding: 0px;
}

/* Style the input fields */
#names-form input[type="text"] {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
  width: 300px;
}

#names-form input:focus,
#names-form input:active {
  border-color: #ff7629;
  box-shadow: 0 0 0 0.25rem rgba(255, 118, 41, 0.25);
}

.is-invalid {
  border-color: red;
  background-color: #ffe6e6;
  color: #721c24;
}

.numCol {
  font-weight: bold;

}


@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}

/* Restaurant options Section End */

/* Food options Section Start */
#pills-tab .nav-link {
  border: 1px solid var(--orange);
  background-color: white;
  color: var(--primary);
  width: 20%;
}

#pills-tab .active {
  border: 1px solid var(--orange);
  background-color: var(--orange);
  color: white;

}

#pills-tab button.nav-link:hover {
  background-color: var(--orange);
  color: white !important;
}

.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.cart-total {
  height: 30%;
}

.cart-item-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.cart-order-name {
  font-size: 14px;
  font-weight: 400;
  color: #888;
}

.cart-price {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.cart-quantity {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.cart-quantity-input {
  width: 50px;
  text-align: center;
}

.badge {
  color: white;
  background-color: var(--orange);
}

/* Food options Section End */

/* Footer Section Start */

#footer {
  background-color: #f7f7f7;

}

.footer {
  margin: 0 auto;
}

/* Footer Section End */

/* Sidebar Section Start */
.sidebar {
  box-shadow: 0px 16px 22px 0px rgba(0, 0, 0, 0.1);
}

/* Sidebar Section End */